.tbl-green {
  border-collapse: collapse;
  width: 100%;
}

.tbl-green td,
.tbl-green th {
  border: 1px solid rgba($black, 0.1);
  padding: 4px;
}

.tbl-green th {
  background-color: $green;
  color: $white;
  padding-bottom: 6px;
  padding-top: 6px;
  text-align: left;
}
